@model PracticalCourses.ViewModel.HomeIndexViewModel
@using PracticalCourses.Infrastructure

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Praktyczne kursy";
}

<nav class="kategorieHorizontal">
    <ul>
        @foreach (var category in Model.Categories)
        {
            <li>
                <a href="@Url.Action("List","Course", new { nameCategory= category.NameCategory.ToLower()})" style="background-image: url(@Url.PathToImagesCategories(category.NameFileIcon));">
                    @category.NameCategory
                </a>
            </li>
        }
    </ul>

    <a href="link">
        <img id="baner" src="@Url.Content("~/images/baner.png")" />
    </a>
</nav>

<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">
        @foreach (var news in Model.News)
        {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="@Url.Content("~/images/koszyk.png")" />
                    </a>
                    <a class="kursSzczegolyLink" href="@Url.Action("Details","Course", new { courseId = news.CourseId})">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="@Url.PathToImagesCourses(news.NameFileImage)" />
                        <h1>
                            @news.TitleCourse - @news.AuthorCourse
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>

<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">
        @foreach (var bestseller in Model.Bestsellers)
        {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="@Url.Content("~/images/koszyk.png")" />
                    </a>
                    <a class="kursSzczegolyLink" href="@Url.Action("Details","Course", new { courseId=bestseller.CourseId})">
                        <div class="newFlag"></div>
                        <img class="kurs" src="@Url.PathToImagesCourses(bestseller.NameFileImage)" />
                        <h1>
                            @bestseller.TitleCourse - @bestseller.AuthorCourse
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>
